@use "sass:math";

.v-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.v-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.v-col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.v-flex {
  display: flex;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.direction-row {
  flex-direction: row;
}
.direction-column {
  flex-direction: column;
}
@for $i from 1 through 12 {
  $value: math.div(100 * $i, 12) * 1%;
  .v-col-#{$i} {
    flex: 1 1 $value;
    max-width: $value;
  }
  .v-offset-#{$i} {
    margin-left: $value;
  }
}